@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Global Font */
body {
  font-family: 'Roboto Mono', monospace;
}

@layer base {
  /* Define Light and Dark Theme Variables */
  :root {
    --background: 243, 244, 246; /* Light Gray */
    --foreground: 0, 0, 0; /* gray */
    --card: 255, 255, 255; /* White */
    --card-foreground: 0, 0, 0; /* gray */
    --primary: 26, 115, 232; /* Main Blue */
    --primary-foreground: 255, 255, 255; /* White */
    --secondary: 0, 74, 173; /* Secondary Blue */
    --secondary-foreground: 255, 255, 255; /* White */
    --muted: 115, 115, 115; /* Medium Gray */
    --accent: 255, 69, 0; /* Accent yellow */
    --accent-foreground: 255, 255, 255; /* White */
    --input: 243, 244, 246; /* Light Gray */
    --ring: 26, 115, 232; /* Main Blue */
    --radius: 0.5rem;
  }

  .dark {
    --background: 44, 46, 51; /* Dark Gray */
    --foreground: 255, 255, 255; /* White */
    --card: 44, 46, 51; /* Dark Gray */
    --card-foreground: 255, 255, 255; /* White */
    --primary: 255, 255, 255; /* White */
    --primary-foreground: 26, 115, 232; /* Main Blue */
    --secondary: 26, 115, 232; /* Main Blue */
    --secondary-foreground: 255, 255, 255; /* White */
    --muted: 115, 115, 115; /* Medium Gray */
    --accent: 255, 69, 0; /* Accent yellow */
    --input: 44, 46, 51; /* Dark Gray */
    --ring: 255, 215, 0; /* Bright Yellow */
  }

  /* Global Element Defaults */
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  a {
    @apply text-primary hover:text-accent;
  }

  button {
    @apply bg-primary text-primary-foreground hover:bg-secondary focus:ring ring-ring;
    border-radius: var(--radius);
  }

  input, textarea {
    @apply bg-input text-foreground border border-border focus:ring ring-ring;
    border-radius: var(--radius);
  }

  .card {
    @apply bg-card text-card-foreground border border-border shadow-md rounded-lg;
  }
}

/* Utility Classes */
@layer components {
  .section-header {
    @apply text-center mb-8;
  }

  .section-header h2 {
    @apply text-4xl font-bold text-primary;
  }

  .section-divider {
    @apply w-12 h-1 bg-primary mx-auto mt-4;
  }
}

@media (max-width: 768px) {
  /* Adjustments for smaller screens */
  .container {
    @apply px-4;
  }

  .section-header h2 {
    @apply text-2xl;
  }
}
